openai
coverage
tomli
typer
black
isort
flake8
mypy
pymarkdownlnt
flake8-bugbear
flake8-annotations
pytest
pytest-cov
pytest-asyncio
pytest-mock
pytest-dotenv
pre-commit
faiss-cpu
sentence-transformers
numpy
scikit-learn
joblib
joblib-stubs
psutil
